<!-- myapp_api/templates/home.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Django App</title>
    <link rel="stylesheet" href="{% static 'myapp_api/styles.css' %}">
</head>
<body>
    <header>
        <h2>Семинар 1. Сбор и разметка данных</h2>
        <nav>
            <a href="#">Главная</a>
            <a href="#">О нас</a>
            <a href="#">Контакты</a>
        </nav>
    </header>

    <form method="POST">
        {% csrf_token %}

        <!-- Контейнер для блоков ввода и вывода -->
        <div style="display: flex; justify-content: space-between; align-items: flex-start;">
            <!-- Блок для ввода информации -->
            <div style="flex: 1; margin-right: 10px;">
                <h2>Введите данные:</h2>
                <div>
                    <label for="city">Город:</label>
                    <input type="text" id="city" name="city" required>
                </div>
                <div>
                    <label for="category">Категория:</label>
                    <input type="text" id="category" name="category" required>
                </div>
                <div>
                    <label for="limit">Число:</label>
                    <input type="number" id="limit" name="limit" required>
                </div>
            </div>

            <!-- Блок для вывода введенных данных -->
            <div style="flex: 1; margin-left: 10px;">
                <h2>Введенные данные:</h2>
                {% if city and category and limit %}
                    <p>Город: {{ city }}</p>
                    <p>Категория: {{ category }}</p>
                    <p>Число: {{ limit }}</p>
                {% else %}
                    <p>Данные не введены.</p>
                {% endif %}
            </div>
        </div>

        <button type="submit">Отправить</button>
    </form>

    {% if results %}
        <h2>Результаты:</h2>
        <table>
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Адрес</th>
                    <th>Регион</th>
                    <th>Широта</th>
                    <th>Долгота</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                    <tr>
                        <td>{{ result.name }}</td>
                        <td>{{ result.address }}</td>
                        <td>{{ result.region }}</td>
                        <td>{{ result.latitude }}</td>
                        <td>{{ result.longitude }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Результаты не найдены.</p>
    {% endif %}

    <footer>
        <p>Footer</p>
    </footer>
</body>
</html>
